.venv/
__pycache__/
*.pyc
app_settings.json
cookies.json
playwright_chrome_profile/
output/
config_profiles/
.idea/
*.log
*.tmp
*.zip
*.spec
build/
dist/
release/
.update_manifest_cache.json
.DS_Store
